.bottom-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #6abeca 0%, rgba(58, 98, 104, 0.2) 50%) ,
    url('../../resources/images/sunny-image.jpg') center ;
    background-size: cover;
}

.forecast-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

    .forcastday-one-container {
        display: flex;
        flex-direction: column;
        background-color: #6abeca;
        border-radius: 10px;
        align-items: center;

        img {
            width: 80%;
            height: 80%;
        }
        
        .text {
            font-size: 1em;
            width: 100%;
            text-align: center;
            padding: 0.1em;
        }
    }
}