.weather-container {
  height: 90vh;
  border: 1px solid black;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 20px;
  align-content: center;
  text-align: center;
  padding-top: 80px;
  color: white;

  margin: 2rem auto;

  img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  h1 {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
  }
  h3 {
    font-size: 24px;
    margin-top: 0.5em;
  }
}

.btn-select-location {
  background-color: #49dcc2;
  font-size: 14px;
  border-radius: 3px;
  color: #204;
}

.search-bar {
  margin: 0 auto;
  height: 60px;
  width: 100%;
  padding: 0 1.75em;
  input {
    width: 100%;
    font-size: 20px;
  }
}

.search-list {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  margin: 0;

  li {
    background: white;
    font-size: 0.9em;
    padding: 0.4em;
    max-width: 100%;
    list-style-type: none;
  }

  li:hover {
    position: relative;
    background: blue;
  }
}
